.header{
    max-width: 60%;
    margin-left: 20%;
}
.content{
    max-width: 90%;
    height: 400px;
    margin-left: 5%;
    border:1px solid #12d
}
.footer{
    max-width: 90%;
    height: 100px;
    margin-left: 5%;
}
 .caption {
     width: 100%;
     margin:0 auto;
     height: 1.5em;
     font-size: 100%;
     font-weight: bold;
     text-align: center;
     background-color: #000066;
     color: #ffffff;
}
.nav {

}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.logo{
     height: 50px;
     align:center;
}
.test{

     overflow: auto;
}


a{
    display: block;
    font-weight: normal;
    font-size: 80%;
    color: #000066;
    text-decoration: underline;
}
.title{

    font-weight: bold;
    margin-top: 5px;
}
div {
    display: block;
}

body {
    background-color: #fff;
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}
div, img, form {
    padding: 0px;
    margin: 0px;
    border: none;
}
#mytext{
    font-size: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #e22;
    overflow: hidden;/*清除浮动，子元素设置浮动不能将父元素撑开*/
}
li{
    float: left;
}
li a{
    display: block;
    color:#444;
    text-decoration: none;
    padding:8px 16px;
}
li :hover{
    background-color:#ccc;
    color: white;
}